---
title: A Very Brief Intro to Rust
---

<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/skeleton.css" type="text/css" rel="stylesheet">
    <link href="/css/custom.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <textarea id="source">
{{ content }}
   </textarea>
    <script src="/js/remark.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      var slideshow = remark.create();
    </script>
  </body>
</html>
